.input_text_wrap {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.input_text {
  width: 50%;
}
.todolist_wrap {
  margin: 0px 5px;
}
.todolist_wrap > li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist_wrap > li > a {
  text-decoration-line: underline;
}
