.header {
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.header > h2 {
  font-size: 1.2rem;
}
.footer {
  background-color: orange;
  padding: 12px 0;
}
